@font-face{
    font-family: "Fredoka";
    src: url("../assets/fonts/Fredoka-One/FredokaOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

// --------------------------------- Nunito

@font-face{
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito/Nunito-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito/Nunito-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito/Nunito-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito/Nunito-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito/Nunito-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

// ------------------------------------- //

@font-face{
    font-family: "Inconsolata";
    src: url(../assets/fonts/Inconsolata/Inconsolata-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}