@font-face {
  font-family: "Fredoka";
  src: url("../assets/fonts/Fredoka-One/FredokaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito/Nunito-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito/Nunito-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito/Nunito-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito/Nunito-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito/Nunito-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }
  *::selection {
    background: #FFC900;
    color: #fff; }
  *::-moz-selection {
    background: #FFC900;
    color: #fff; }

html {
  font-size: 16px; }

body {
  overflow-x: hidden;
  background-color: #FFC900; }

header {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #F7FCFC;
  padding: 20px 0 10px 0;
  height: 70px;
  background-color: #FFC900; }

.header-logo span {
  font-family: "Fredoka";
  font-size: 2rem;
  line-height: 38px;
  letter-spacing: 3px;
  cursor: default; }

@media (max-width: 300px) {
  .header-logo span {
    font-size: 1.5rem; } }
.tabs-section {
  display: flex;
  justify-content: center;
  position: relative;
  height: 148px;
  padding-top: 20px;
  background-color: #FFC900;
  color: #777777;
  -webkit-box-shadow: inset 3px -8px 25px -9px rgba(56, 56, 56, 0.81);
  -moz-box-shadow: inset 3px -8px 25px -9px rgba(56, 56, 56, 0.81);
  box-shadow: inset 3px -8px 25px -9px rgba(56, 56, 56, 0.81); }
  .tabs-section .tab {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #F7FCFC;
    height: 2rem;
    width: 200px;
    font-size: 1rem;
    line-height: 2rem;
    cursor: pointer;
    opacity: .7;
    transition: opacity .5s, color .5s; }
    .tabs-section .tab:hover {
      opacity: 1; }
    .tabs-section .tab:nth-child(1) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
      .tabs-section .tab:nth-child(1):hover {
        color: #4995FF; }
    .tabs-section .tab:nth-child(2):hover {
      color: coral; }
    .tabs-section .tab:nth-child(3) {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
      .tabs-section .tab:nth-child(3):hover {
        color: #0B2027; }
  .tabs-section .tab-text {
    font-family: "Nunito";
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 400; }

@media (max-width: 400px) {
  .tab-text {
    display: none; } }
.top-image {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFC900;
  padding: 25px;
  padding-top: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.63); }
  .top-image img {
    width: 4.7rem;
    height: 5rem; }

main {
  height: 100%;
  width: 100%;
  padding: 80px 0;
  background-color: #fff; }

.working-section {
  font-family: "Nunito";
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  background-color: #fff; }
  .working-section .box-1, .working-section .box-2 {
    flex: 1 1 30rem;
    margin: 20px 3%;
    padding: 20px 2%;
    border-radius: 10px;
    background-color: #fff;
    width: 50%;
    -webkit-box-shadow: 0px 0px 16px -5px #5c5c5c;
    -moz-box-shadow: 0px 0px 16px -5px #5c5c5c;
    box-shadow: 0px 0px 16px -5px #5c5c5c; }

form .text-muted {
  font-size: .9rem; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#timeInput {
  width: 100px;
  -moz-appearance: textfield; }

.preview-output {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .preview-output h4 {
    text-align: center;
    margin-bottom: 0px; }
  .preview-output .output-window {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    min-height: 150px;
    max-height: 150px;
    border-radius: 10px;
    font-family: "Nunito";
    font-weight: 600;
    color: gray;
    font-size: 1rem; }
  .preview-output .output-window::-webkit-scrollbar {
    width: 0px; }

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-color .7s; }
  .form-control:focus {
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #4995FF; }

.code-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.box-3, .box-4 {
  width: 90%;
  max-width: 700px;
  margin: 0 10px 0px 10px;
  padding: 20px 2%;
  border: 1px solid #ccc; }

.box-3 {
  border-bottom: none; }

.box-4 {
  border-top: none; }

pre {
  padding: 10px 5px; }

.pre-html, .pre-js {
  overflow-x: auto;
  font-family: monospace;
  width: 100%;
  color: grey; }

.box-3 i {
  color: crimson; }

.box-4 i {
  color: #FFC900; }

.code-tag {
  color: #cf352e; }

.code-att {
  color: #f28500; }

.code-value {
  color: #50c878; }

.code-decl {
  color: #9400d3; }

.code-name {
  color: #FFC900; }

.code-met {
  color: #1ca9c9; }

.code-func {
  color: #007FFF; }

footer {
  background-color: #FFC900;
  width: 100%; }
  footer .footer-box-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 148px;
    width: 100%;
    -webkit-box-shadow: inset 0px 6px 22px -6px rgba(56, 56, 56, 0.81);
    -moz-box-shadow: inset 0px 6px 22px -6px rgba(56, 56, 56, 0.81);
    box-shadow: inset 0px 6px 22px -6px rgba(56, 56, 56, 0.81); }
    footer .footer-box-1 .footer-logo img {
      width: 2.8rem;
      height: 3rem; }
    footer .footer-box-1 .footer-logo span {
      margin-left: 10px;
      line-height: 3rem;
      color: #F7FCFC;
      font-size: 1.2rem;
      font-family: "Fredoka"; }
    footer .footer-box-1 .footer-links {
      margin-right: 10px;
      font-size: 2rem;
      line-height: 3rem;
      color: #F7FCFC; }
    @media (max-width: 520px) {
      footer .footer-box-1 .footer-box {
        padding: 0 5px; }
      footer .footer-box-1 .footer-logo img {
        display: none; }
      footer .footer-box-1 .footer-logo span {
        margin-left: 0; } }
  footer .footer-box-2 {
    height: 70px;
    width: 100%; }

/*# sourceMappingURL=style.css.map */
